<div class="chng_pass_word">
    <form>
      <h3>Account Settings</h3>
      <div class="row">
        <div class="col-sm-12 act_setngs">
          <p class="text-center chne_pass_wrd_head">Change Password</p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your old password" name="current_password"  [(ngModel)]="insertPassword.current_password" required  [type]="hide_pass ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide_pass = !hide_pass">{{hide_pass ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!-- <mat-error *ngIf="myForm.hasError('required', 'current_password')">
              Please your enter old password
          </mat-error> -->
          </mat-form-field>

          <input type="hidden" name="user_email" #user_email="ngModel" [(ngModel)]="insertPassword.user_email">

          <mat-form-field class="example-full-width chge_pas_wrd_new">
            <input appBlockCopyPaste matInput placeholder="Enter New password" name="new_password" [(ngModel)]="insertPassword.new_password"  required  [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!-- <mat-error *ngIf="myForm.hasError('required', 'new_password')">
              Please enter your new password
          </mat-error> -->
          </mat-form-field>
          <mat-form-field class="example-full-width cnfm_chge_pas_wrd_new">
            <input appBlockCopyPaste matInput name="confirm_password" [(ngModel)]="insertPassword.confirm_password" required [errorStateMatcher]="matcher" placeholder="Confirm New password" [type]="hides ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hides = !hides">{{hides ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!-- <mat-error *ngIf="myForm.hasError('notSame')">
              Passwords do not match
          </mat-error> -->
          </mat-form-field>
          <div class="text-center">
            <button mat-button class="save_btn_chge_pas_wrd" (click)="addNewPassword()">Save</button>
            <button mat-button class="cncl_btn_chge_pas_wrd">Cancel</button>
          </div>
        </div>
        </div>
    </form>
  </div>