.canvas{
        height: 200px;
        background:#ccc;
        margin-right: 2px;
}
.progressBar{
        width: 50%;
}
.progress{
        display: block;
        height: 30px;
        background:#fff;
}
.charts_section{
	background:#fff;
	margin:15px 0px;
	padding: 5px;
}