.ad_per_missions_tree{
    margin: 60px 4% 30px 19%;
    box-shadow: 1px 1px 3px 1px #ccc;
    height:auto;
    padding:20px;
    background: #fff;
    .user_select_admin{
      padding:10px 25%;
    }
    .example-full-width{
      width:100%;
    }
    .mo_dules_head_admin{
      color: #e21e24;
      text-align: center;
    }
    .action_module_chk_bx{
      padding:15px 0px;
    }
  }