<div class="row menu_sub_list">
  <ul>
    <li>
        <div>
          <a href="#">
              <img src="assets/images/add_plus.svg" class="add_plus_img_admin" alt="Form">
              <p>Add Action</p>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
              <img src="assets/images/zip.svg" class="zip_img_admin" alt="Form">
              <p>Compress item</p>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
              <img src="assets/images/delete_menu.svg" class="add_img_admin" alt="Form">
              <p>Delete Property</p>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
              <img src="assets/images/download.svg" class="add_img_admin" alt="Form">
              <p>Download Details</p>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
              <img src="assets/images/printer.svg" class="add_img_admin" alt="Form">
              <p>Print Property</p>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
              <img src="assets/images/edit_property.svg" class="add_img_admin" alt="Form">
              <p>Edit Property</p>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
              <img src="assets/images/forms.svg" class="form_img_admin" alt="Form">
              <p>Add New Property</p>
          </a>
        </div>
      </li>
    </ul>
</div>