
  <div class="row"> 
  <div class="col-sm-3 col-md-2">
    <div>
      <div class="subLeftNavbar">
          <ul>
            <li><a routerLink="/blogs" class="activeLeft">Add Blogs</a></li>
            <li><a routerLink="/view-blogs" >View Blogs</a></li>
          </ul>
        </div>
     </div> 
   </div>
    <!-- sub sidebar end -->
<div class="col-sm-9 col-md-10">
<div class="view_blog_admin">
  <ul class="list-group vw_blg_list">
    <li class="list-group-item list_head_blog">Blog</li>
    <li class="list-group-item">
      <h5>The ultimate home inspection checklist- what to look for when buying a house?</h5>
      <div class="row">
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-12">
              <h6>Main Description</h6>
              <p class="text-justify view_blg_descrip">
                Owning a place to call home is the biggest quest of the modern-day human. However, taking possession of a property without proper inspection is just not the right thing to do. While many choose to go for third party house inspection done by professional experts, many do it on their own, by involving the elders, friends, and family. Though the later saves the buyer a lot of time, money and energy, it is always advised to hire a professional while doing the final rounds of your house inspection before signing the final deal.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>
                Date: <span class="dte_field_clr">21-Nov-2018</span>
              </p>
            </div>
            <div class="col-sm-6 text-right">
              <p>
                Location: <span class="dte_field_clr">Bangalore,India</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <img src="assets/images/homeinspectionlist.jpg" class="view_img_blog_descrip" alt="Blog Img">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 ful_descrip_blg">
          <h6>Full Description</h6>
          <p>Thus, in this article below we have listed the most important things to tick off the checklist while doing a home inspection.</p>
          <p><span class="side_head_blog"> >> Hire a professional :</span><span> As stated above, a professional home inspection team evaluates the place from a structural and safety point of view. Only a professional will help you in buying a hazard free, up to code property that will prove to be a good investment eventually.</span> </p>
          <p><span class="side_head_blog"> >> Cross your inspection checklist :</span><span> Though every professional does their job differently, they do have to follow a certain checklist. The checklist stands true even when you are doing the inspection on your own.</span> </p>
          <p><span class="side_head_blog"> >> Read the home inspection report carefully :</span><span> After the process of inspection is complete, it is always best to read the report carefully at the earliest. Only then, you will be able to fix the problems (if any) before the final deal in signed. Also, proper home inspections help you from making a bad investment decision.</span> </p>
          <p><span class="side_head_blog"> >> Confirmation :</span><span> If you have asked the builder to make the repairs that have been detected, make sure if they have been done according to your liking, before the final possession. If the repair is done up to the mark or as per your choice, it will be wise to cancel the deal.</span> </p>
          <p>A home inspection is mandatory if you have a builder, a seller or a contractor build the house for you. Also, for a better perspective, visit the property during the different times of the day so as to get a better perspective about air and light inflow. The above-mentioned checklist will come in handy as well.</p>
        </div>
        <div class="col-sm-12">
          <div class="tag_s_view_blog">
            <h5>Tags</h5>
            <p><a href="#">How to sell your house easily</a> </p>
            <p><a href="#">Flats for Sale in Bangalore</a> </p>
            <p><a href="#">RealtyMonk</a> </p>
          </div>
        </div>
        <div class="col-sm-12 status_found_column">
          <ul>
            <li class="status_clmn"><p>Status :<span class="enable_stus">Enable</span> </p></li>
            <li class="edt_clmn"><p><a href="#"><i class="material-icons">edit</i> Edit</a> </p></li>
            <li class="del_clmn"><p><a href="#"><i class="material-icons">delete</i> Delete</a> </p></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <ul class="list-group vw_blg_list">
    <li class="list-group-item list_head_blog">Blog</li>
    <li class="list-group-item">
      <h5>The ultimate home inspection checklist- what to look for when buying a house?</h5>
      <div class="row">
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-12">
              <h6>Main Description</h6>
              <p class="text-justify view_blg_descrip">
                Owning a place to call home is the biggest quest of the modern-day human. However, taking possession of a property without proper inspection is just not the right thing to do. While many choose to go for third party house inspection done by professional experts, many do it on their own, by involving the elders, friends, and family. Though the later saves the buyer a lot of time, money and energy, it is always advised to hire a professional while doing the final rounds of your house inspection before signing the final deal.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>
                Date: <span class="dte_field_clr">21-Nov-2018</span>
              </p>
            </div>
            <div class="col-sm-6 text-right">
              <p>
                Location: <span class="dte_field_clr">Bangalore,India</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <img src="assets/images/homeinspectionlist.jpg" class="view_img_blog_descrip" alt="Blog Img">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 ful_descrip_blg">
          <h6>Full Description</h6>
          <p>Thus, in this article below we have listed the most important things to tick off the checklist while doing a home inspection.</p>
          <p><span class="side_head_blog"> >> Hire a professional :</span><span> As stated above, a professional home inspection team evaluates the place from a structural and safety point of view. Only a professional will help you in buying a hazard free, up to code property that will prove to be a good investment eventually.</span> </p>
          <p><span class="side_head_blog"> >> Cross your inspection checklist :</span><span> Though every professional does their job differently, they do have to follow a certain checklist. The checklist stands true even when you are doing the inspection on your own.</span> </p>
          <p><span class="side_head_blog"> >> Read the home inspection report carefully :</span><span> After the process of inspection is complete, it is always best to read the report carefully at the earliest. Only then, you will be able to fix the problems (if any) before the final deal in signed. Also, proper home inspections help you from making a bad investment decision.</span> </p>
          <p><span class="side_head_blog"> >> Confirmation :</span><span> If you have asked the builder to make the repairs that have been detected, make sure if they have been done according to your liking, before the final possession. If the repair is done up to the mark or as per your choice, it will be wise to cancel the deal.</span> </p>
          <p>A home inspection is mandatory if you have a builder, a seller or a contractor build the house for you. Also, for a better perspective, visit the property during the different times of the day so as to get a better perspective about air and light inflow. The above-mentioned checklist will come in handy as well.</p>
        </div>
        <div class="col-sm-12">
          <div class="tag_s_view_blog">
            <h5>Tags</h5>
            <p><a href="#">How to sell your house easily</a> </p>
            <p><a href="#">Flats for Sale in Bangalore</a> </p>
            <p><a href="#">RealtyMonk</a> </p>
          </div>
        </div>
        <div class="col-sm-12 status_found_column">
          <ul>
            <li class="status_clmn"><p>Status :<span class="enable_stus">Enable</span> </p></li>
            <li class="edt_clmn"><p><a href="#"><i class="material-icons">edit</i> Edit</a> </p></li>
            <li class="del_clmn"><p><a href="#"><i class="material-icons">delete</i> Delete</a> </p></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>
</div>