<div class="container-fluid">
  <div class="row">     
    
	  <div class="col-sm-12 col-md-12">
      <div class="sub_mainSection listing_sub_mainSection">
        <div class="sub_header_contnr">
          <ul><li><a class="ld_mnge">Packers & Movers</a></li></ul>
          <div class="dte_range_picke">
            <i class="material-icons">calendar_today</i>
            <input type="text" placeholder="Select Date Range" matInput ngxDaterangepickerMd
            [locale]="{applyLabel: 'ok', format: 'yyyy-MM-dd', separator: '-to-'}"
            startKey="start" endKey="end" [(ngModel)]="dateSelected" name="daterange"
            (change)='applyDate(dateSelected)' autocomplete="off"/>
          </div>
        </div>
        <div class="action_section">
          <div class="listingName">
            <h4>Packers and Movers</h4>
          </div>
          <div class="all_function_icon">
            <ul>
              <li class="all_fnshn"><i class="fa fa-search"></i><input type="text" placeholder="Find Property" (keyup)="applyFilterPlan($event.target.value)" [(ngModel)]="searchString" class="find_prpty"></li>
            </ul>
            <ul class="filter_section">
              <li class="filterIcons" (click)="openAddModal()"><span><i class="material-icons add_dtl_icons">note_add</i></span><span>Add</span></li>
              <li class="filterIcons del" ><button mat-button (click)="openModal()"><span><i class="fa fa-trash" aria-hidden="true"></i></span>Delete</button></li>
               <li class="filterIcons"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span><button mat-button (click)="openPackersEditPopup()"><span>Edit</span></button></li> 
              <!-- <li lass="filterIcons"><button class="edit_btn" (click)="openPackersEditPopup()" id="edit_button" [disabled]="this.checkVal==false"><i class="fa fa-pencil-square-o"></i> Edit</button></li>  -->
              
              <li class="filterIcons"><label for="picked" class="picked"><span><i class="fa fa-filter"></i></span><span>Import</span></label></li>
              <li class="filterIcons"><span><i class="fa fa-download"></i></span><span>Download</span></li>
              <li class="filterIcons" (click)="refreshData()"><span><i  class="material-icons refresh_icon">refresh</i></span><span>Refresh</span></li>
              <!-- <li class="filterIcons"><span><i class="material-icons">more_horiz</i></span></li>
              <li class="top_toggle"><span><i class="fa fa-angle-up"></i></span></li> -->
              <!-- <li class="dspnon"><input type="file" accept=".xlsx, .xls, .csv" (change)="getFileDetails($event)" id="picked" #picked /></li> -->
            </ul>
          </div>
        </div>
      </div>
      
      <div *ngIf="isLoading" class="loader">
        <mat-spinner class="spinner"></mat-spinner>
      </div>

      <div class="tbl" *ngIf="this.totalCount > 0">
        <table *ngIf="showTable" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mlsTbl" width="100%">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let emp">
              <mat-checkbox></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="packer_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Packers&nbsp;ID </th>
            <td mat-cell *matCellDef="let user"> {{user.packer_id}} </td>
          </ng-container>

          <ng-container matColumnDef="packer_unique_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Packer&nbsp;Unique&nbsp;By </th>
            <td mat-cell *matCellDef="let user"> {{user.packer_unique_id}} </td>
          </ng-container>

          <ng-container matColumnDef="packer_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Packer&nbsp;Name </th>
            <td mat-cell *matCellDef="let user"> {{user.packer_name}} </td>
          </ng-container> 

          <ng-container matColumnDef="packer_email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Packer&nbsp;Email </th>
            <td mat-cell *matCellDef="let user"> {{user.packer_email}} </td>
          </ng-container> 

          <ng-container matColumnDef="packer_mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Packer&nbsp;Mobile </th>
            <td mat-cell *matCellDef="let user"> {{user.packer_mobile}} </td>
          </ng-container> 

          <ng-container matColumnDef="packer_location_from">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Packer&nbsp;Location&nbsp;From </th>
            <td mat-cell *matCellDef="let user"> {{user.packer_location_from}} </td>
          </ng-container> 

          <ng-container matColumnDef="packer_location_to">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Packer&nbsp;Location&nbsp;To </th>
            <td mat-cell *matCellDef="let user"> {{user.packer_location_to}} </td>
          </ng-container> 

          <ng-container matColumnDef="contacted_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contacted&nbsp;Date</th>
            <td mat-cell *matCellDef="let user"> {{user.contacted_date | date: 'dd/MM/yyyy'}} </td>
          </ng-container>   

          <ng-container matColumnDef="VehicleNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle No</th>
            <td mat-cell *matCellDef="let user"> {{user.VehicleNo}} </td>
          </ng-container>

          <ng-container matColumnDef="VehicleType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle&nbsp;Type</th>
            <td mat-cell *matCellDef="let user"> {{user.VehicleType}} </td>
          </ng-container>

          <ng-container matColumnDef="DriverName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver&nbsp;Name</th>
            <td mat-cell *matCellDef="let user"> {{user.DriverName}} </td>
          </ng-container>

          <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment</th>
            <td mat-cell *matCellDef="let user"> {{user.payment}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20]" *ngIf="this.totalCount > 0"></mat-paginator>
      <mat-card class="btnCard" *ngIf="this.totalCount > 0">
        <button mat-button (click)="pagePrevious(searchString)">Previous</button>
        <button mat-button (click)="pageNext(searchString)">Next</button>
      </mat-card>

      <mat-card class="NoResults" *ngIf="showNoData();">
				<h1>Sorry, No Results !</h1>
				<p>We cannot find the item you are searching for.</p>
				<img src="assets/images/search_error.png" alt="No Data Found">
			</mat-card>

    </div>
  </div>
</div>