<div class="dialog_popup">
  <div class="frgt_pas_wrd_s_admin">
        <h5>Forgot Password</h5>
  </div>
  <div class="pop_bdy_admin">
        <p>Enter your Email-ID below and we will send the instructions to recover your password.</p>
        <mat-form-field class="example-full-width">
                <input matInput placeholder="Your Email-Id" value="">
        </mat-form-field>
        <div class="text-center">
                <button mat-button class="save_btn_chge_pas_wrd">Submit</button>
                <button mat-button mat-dialog-close class="cncl_btn_chge_pas_wrd">Cancel</button>
        </div>
  </div>
</div>