*{
    margin: 0;
    padding: 0;
}
.dialog_popup{
    width: 300px !important;
    margin: -24px;
    .frgt_pas_wrd_s_admin{
        background:#607d8b;
        color:#fff;
        padding:10px;
}
    .pop_bdy_admin{
        padding:10px;
    }
    .example-full-width{
        width:100%;
        margin-top:15px;
    }
    .save_btn_chge_pas_wrd{
    background: #e21e24;
    color:#fff;
    padding:0px 25px;
    border:0px;
    outline: 0px;
    margin-right:40px;
    border-radius:3px;
  }
  .cncl_btn_chge_pas_wrd{
    background: #607d8b;
    color:#fff;
    padding:0px 20px;
    border:0px;
    outline: 0px;
    border-radius:3px;
  }
}