<div class="prfle_chnge">
  <ul class="list-group">
    <li class="list-group-item chnge_prfle_head">Change Profile</li>
    <li class="list-group-item">
            <form>
                    <div class="chnge_prfle_body">
                       <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" value="">
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" value="">
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Contact Number" value="">
                           </mat-form-field>
               </div>
               <div class="text-center">
                               <button mat-button class="cncl_btn_chge_pas_wrd">Update</button>
                <button mat-button class="save_btn_chge_pas_wrd">Cancel</button>
           </div>
            </form>
    </li>
  </ul>
</div>