.prfle_chnge{
                width:30%;
                margin:40px auto;
        .chnge_prfle_head{
                background:#607d8b;
                color:#fff;
                text-align:center;
         }
         .chnge_prfle_body{
            padding:20px;
         }
         .example-full-width{
         width:100%;
         }
         .save_btn_chge_pas_wrd{
    background: #e21e24;
    color:#fff;
    padding:0px 25px;
    border:0px;
    outline: 0px;
    border-radius:3px;
  }
  .cncl_btn_chge_pas_wrd{
    background: #607d8b;
    color:#fff;
    padding:0px 20px;
    border:0px;
    outline: 0px;
    border-radius:3px;
    margin-right:20px;
  }
}