<div class="container">
  <div class="row error404_row">
          <div class="col-sm-7">
                  <div class="error_message_section">
                          <a href="#"><img src="assets/images/realtyerror_logo.png"></a>
                          <div class="error_404_text">
                                  <p class="text_not_fnd text_404"><b class="bold_404">404</b> Page Not Found</p>
                                  <p>The Requested URL is Not Found</p>
                                  <p class="text_not_fnd">Thats all we Know</p>
                                  <p>You can go back to home page by clicking</p>
                                  <p><a href="#" class="text_not_fnd">Here</a></p>
                      </div>

                  </div>
          </div>
          <div class="col-sm-5">
                  <div class="error_images">
                          <img src="assets/images/error_img.png" class="img-responsive">
                  </div>
          </div>
  </div>
</div>